@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 243 21% 20%;
    --input: 215, 40%, 82%;
    --radius: 0.3rem;
    --hover: 215, 40%, 82%;
    --focus: 215, 40%, 82%;
    --popover: 209 69% 91%;
    --primary: 209 69% 91%; 
    --secondary: 215, 40%, 82%;
    --tertiary: 224, 22%, 55%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --accent-orange: 13, 86%, 48%;
    --accent-lime: 66, 82%, 43%;
    --accent-blue: 205, 63%, 62%;
    --accent-yellow: 41, 96%, 53%;
    --accent-green: 74, 53%, 36%;
    --accent-pink: 328, 78%, 50%;
    --accent-sky: 202, 100%, 38%;
  }

  .dark {
    --background: 252, 29%, 14%;
    --foreground: 209 69% 91%;
    --input: 224, 22%, 55%;
    --radius: 0.3rem;
    --hover: 215, 40%, 82%;
    --focus: 215, 40%, 82%;
    --popover: 243 21% 20%;
    --primary: 243 21% 20%; 
    --secondary: 224, 22%, 55%;
    --tertiary: 215, 40%, 82%;
    --muted: 25 5.3% 44.7%;
    --muted-foreground: 60 4.8% 95.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --accent-orange: 13, 86%, 48%;
    --accent-lime: 66, 82%, 43%;
    --accent-blue: 205, 63%, 62%;
    --accent-yellow: 41, 96%, 53%;
    --accent-green: 74, 53%, 36%;
    --accent-pink: 328, 78%, 50%;
    --accent-sky: 202, 100%, 38%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.bg-gradient {
  background: linear-gradient(45deg, rgb(227, 28, 134, 0.2), rgba(0, 123, 194,0.2) 60%);
}