@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 243 21% 20%;
    --input: 215, 40%, 82%;
    --radius: 0.3rem;
    --hover: 215, 40%, 82%;
    --focus: 215, 40%, 82%;
    --popover: 209 69% 91%;
    --primary: 209 69% 91%; 
    --secondary: 215, 40%, 82%;
    --tertiary: 224, 22%, 55%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --accent-orange: 13, 86%, 48%;
    --accent-lime: 66, 82%, 43%;
    --accent-blue: 205, 63%, 62%;
    --accent-yellow: 41, 96%, 53%;
    --accent-green: 74, 53%, 36%;
    --accent-pink: 328, 78%, 50%;
    --accent-sky: 202, 100%, 38%;
    --pale-yellow: 47, 100%, 82%;
    --pale-lime: 80, 81%, 79%;
    --pale-green: 81, 69%, 64%;
    --pale-blue: 201, 100%, 87%;
    --pale-orange: 25, 100%, 81%;
    --pale-pink: 322, 71%, 82%;
    --pale-sky: 198, 72%, 68%;
  }

  .dark {
    --background: 252, 29%, 14%;
    --foreground: 209 69% 91%;
    --input: 224, 22%, 55%;
    --radius: 0.3rem;
    --hover: 215, 40%, 82%;
    --focus: 215, 40%, 82%;
    --popover: 243 21% 20%;
    --primary: 243 21% 20%; 
    --secondary: 224, 22%, 55%;
    --tertiary: 215, 40%, 82%;
    --muted: 25 5.3% 44.7%;
    --muted-foreground: 60 4.8% 95.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --accent-orange: 13, 86%, 48%;
    --accent-lime: 66, 82%, 43%;
    --accent-blue: 205, 63%, 62%;
    --accent-yellow: 41, 96%, 53%;
    --accent-green: 74, 53%, 36%;
    --accent-pink: 328, 78%, 50%;
    --accent-sky: 202, 100%, 38%;
    --pale-yellow: 25, 62%, 34%;
    --pale-lime: 74, 51%, 33%;
    --pale-green: 91, 34%, 25%;
    --pale-blue: 219, 39%, 41%;
    --pale-orange: 0, 62%, 31%;
    --pale-pink: 327, 77%, 19%;
    --pale-sky: 212, 58%, 20%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.pink-gradient {
  background: rgb(221,142,196);
  background: linear-gradient(145deg, rgba(221,142,196,1) 10%, rgba(221,142,196,0.8) 30%, rgba(221,142,196,0.4) 50%, rgba(255,255,255,0) 100%);
}