@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 243, 21%, 20%;
    --input: 215, 40%, 82%;
    --card: 0, 0%, 100%;
    --card-foreground: 243, 21%, 20%;
    --popover: 208, 70%, 91%;
    --popover-foreground: 245, 25%, 53%;
    --primary: 208, 70%, 91%; 
    --primary-foreground: 245, 25%, 53%;
    --secondary: 215, 40%, 82%;
    --secondary-foreground: 222.2, 47.4%, 11.2%;
    --muted: 40, 5%, 95%;
    --muted-foreground: 20, 5%, 45%;
    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 60, 9.1%, 97.8%;
    --tertriary: 224, 22%, 55%;
    --radius: 0.3rem;

    /*hover*/
    --hover: 216, 40%, 70%;
    --hover-foreground: 245, 36%, 25%;
    --focus: 0, 0%, 100%;

    --accent-orange: 13, 86%, 48%;
    --accent-lime: 66, 82%, 43%;
    --accent-blue: 205, 63%, 62%;
    --accent-yellow: 41, 96%, 53%;
    --accent-green: 74, 53%, 36%;
    --accent-pink: 328, 78%, 50%;
    --accent-sky: 202, 100%, 38%;
    --uni-gradient: linear-gradient(45deg, rgb(227, 28, 134, 0.2), rgba(0, 123, 194,0.2) 60%);
  }

  .dark {
    --background: 252, 29%, 14%;
    --foreground: 208, 70%, 91%;
    --input: 224, 22%, 55%;
    --card: 252, 29%, 14%;
    --card-foreground: 208, 70%, 91%;
    --popover: 243, 21%, 20%;
    --popover-foreground: 245, 25%, 53%;
    --primary: 243, 21%, 20%; 
    --primary-foreground: 208, 70%, 91%;
    --secondary: 224, 22%, 55%;
    --secondary-foreground: 208, 70%, 91%;
    --muted: 20, 5%, 30%;
    --muted-foreground: 40, 5%, 81%;
    --destructive: 0, 84.2%, 45.2%;
    --destructive-foreground: 60, 9.1%, 87.8%;
    --tertriary: 215, 30%, 72%;
    --radius: 0.3rem;
    
      /*hover*/
    --hover: 215, 30%, 72%;
    --hover-foreground: 208, 70%, 95%;
    --focus: 252, 29%, 14%;
    
    --accent-orange: 13, 86%, 48%;
    --accent-lime: 66, 82%, 43%;
    --accent-blue: 205, 63%, 62%;
    --accent-yellow: 41, 96%, 53%;
    --accent-green: 74, 53%, 36%;
    --accent-pink: 328, 78%, 50%;
    --accent-sky: 202, 100%, 38%;
    --unigradient: linear-gradient(45deg, rgb(227, 28, 134, 0.2), rgba(0, 123, 194,0.2) 60%);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}